<div class="row">
    <div class="col-md-4" align="center">
        <img src="/raccoon.png" height="100">
    </div>
    <div class="col-md-4" align="center">
        <h1> RedCoon </h1>
    </div>
    <div class="col-md-4" align="center">
        <img src="/redpanda.png" height="100">
    </div>
</div>